# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#My Files
*.backup
*.log
*.json

# Environment variables
.env
*.env

# Virtual environments
venv/
ENV/
.venv/

# macOS (in case you zip/move from Mac)
.DS_Store